[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "plotGrouper"]
	path = plotGrouper
	url = https://github.com/jdgagnon/plotgrouper
